<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>colle chatelet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body  class="bg-light">
    <div class="container mt-5 style=max-width: 400px;">
    <h1>Tes horaires de colle :</h1>
        <h3 class="text-center mb-3">
            {{ nom }} {{ prenom }} <BR>
            groupe : {{ groupe }} <BR><BR>
            groupe de TD : {{ groupe_td }} <BR>
            groupe de SI : {{ groupe_si }} <BR><BR>
            {{ horaire1 }} <BR><BR>
            {{ horaire2 }} <BR><BR> 

            <a href="/">Retour</a> <BR><BR><BR>
        </h3>
    </div>

    <h5 class="fixed-bottom text-center bg-light py-2">donateur du mois : Hamza</h5>

</body>